## added params
apoc.trigger.enabled=true
apoc.export.file.enabled=true

kafka.zookeeper.connect=z-3.neo4j-kafka.wqfvy4.c3.kafka.us-west-2.amazonaws.com:2181,z-1.neo4j-kafka.wqfvy4.c3.kafka.us-west-2.amazonaws.com:2181,z-2.neo4j-kafka.wqfvy4.c3.kafka.us-west-2.amazonaws.com:2181
kafka.bootstrap.servers=b-2.neo4j-kafka.wqfvy4.c3.kafka.us-west-2.amazonaws.com:9094,b-1.neo4j-kafka.wqfvy4.c3.kafka.us-west-2.amazonaws.com:9094
kafka.acks=all
kafka.security.protocol=SSL
kafka.ssl.truststore.location=/tmp/kafka.client.truststore.jks

streams.sink.enabled=false
streams.source.topic.nodes.Neo4jPersonTopic=Person{*}
streams.source.topic.relationships.Neo4jRelsTopic=ACTED_IN{*}
streams.source.enabled=true
streams.source.schema.polling.interval=10000
streams.procedures.enabled=true

dbms.jvm.additional=-Djavax.net.debug=ssl:handshake